*.bak
*.dwl
*.dwl2
*.tmp
*.log
cd/~$1.1-Te-dhenat-kadastrale-zyrtare-ne-forme-digjitale-229-4.xlsx
cd/~$7---Koordinatat-e-pikave-për-parcelë.xlsx
cd/~$--Mbështjellësi-i-lëndës.docx
cd/~$--Raporti-Teknik.doc
cd/~$-Korigjiimi-i-sipërfaqes.doc
1946-0-Halili/~$Raporti-Teknik-1946-0-Halili.doc
Bedriu/bashkimi-1712-1-1713-1-Rahovice/~$Korigjiimi-i-sipërfaqes-bashkimi-1712-1-1713-1-Rahovice.doc
Bedriu/bashkimi-1712-1-1713-1-Rahovice/~$--Raporti-Teknik-bashkimi-1712-1-1713-1-Rahovice.doc
Bedriu/ndarja-1949-1-2309-0-Rahovice/~$Korigjiimi-i-sipërfaqes-ndarja-1949-1-2309-0-Rahovice.doc
Bedriu/ndarja-1949-1-2309-0-Rahovice/~$Raporti-Teknik-ndarja-1949-1-2309-0-Rahovice.doc
